　body {
  background-color: #fff;
  color: #333;
  line-height: 1.7;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  font-family: ヒラギノ角ゴ ProN W3, Hiragino Kaku Gothic ProN, HiraKakuProN-W3,
    Meryo, メイリオ, sans-serif;
  word-break: normal;
  position: relative;
}
a,
button {
  color: #4a90e2;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
li {
  list-style: none;
  text-align: -webkit-match-parent;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.u-flex {
  display: flex;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.l-inner {
  padding: 0 3%;
}
.p-card__header {
  margin-bottom: 32px;
  margin-top: 0;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  border-top: solid 4px #3dbba3;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(
      to bottom,
      transparent,
      transparent 80%,
      rgba(0, 0, 0, 0.02) 95%,
      rgba(0, 0, 0, 0.04)
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 8px 0;
  overflow: hidden;
}
.p-index__heading {
  padding: 17px 21px;
  display: flex;
  align-content: center;
}
.p-icon {
  align-content: center;
}
.p-index__title {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.p-media__area {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  .p-media-main,
  .p-media__sub {
    width: 50%;
  }
  .p-media__sub {
    padding-left: 32px;
  }
  .p-media__item {
    width: 100%;
    position: relative;
  }
  .js-link {
    cursor: pointer;
  }
  .p-media__meta {
    font-size: 0.6875rem;
  }
  .p-rank__date {
    padding: 0 3px;
  }
  .p-image__4x3 {
    position: relative;
    height: auto;
    background: #fff;
    background-size: cover;
    &:before {
      content: "";
      display: block;
      padding-top: 68%;
    }
    .p-image__inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      padding-top: 68%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
